{
    "presets": [
      [
        "@babel/preset-env",
        {
          // "modules": false,
          "targets": {
            "browsers": ["> 1%", "last 2 versions"]
          },
          "useBuiltIns": "usage",
          // "loose": true
        }
      ]
    ],
    "plugins": [
      "@babel/plugin-transform-runtime",
      "@babel/plugin-transform-object-assign",
      ["@babel/plugin-proposal-decorators", { "legacy": true }],
      ["@babel/plugin-proposal-class-properties", { "loose" : true }]
    ]
  }
  