@import "../font/iconfont.css"

.mapToolBox
  background: rgba(255, 255, 255, .8)
  padding: 5px
  border-radius: 4px
  user-select none
  li,ul
    margin: 0 
    padding: 0
    list-style none
  .iconfont
    transition: transform .1s linear 
  .rotate
    transform: rotate3d(0,0,0,180deg)
    transform-origin: center
  li
    border-bottom: 1px solid #ddd
    line-height 24px
    font-size 12px
    cursor: pointer
    color: #000
    &:last-child
      border:none
    &:hover 
      background: rgba(221, 221, 221, .3)
  span 
    cursor: pointer
